---
interface Props {
	t: (key: string) => string
}

const { t } = Astro.props as Props
---

<section class="max-w-screen-md w-full mx-auto px-8 sm:px-4 py-8">
	<h3 class="mb-6">
		{t("cookie_policy.title")}
	</h3>

	<div class="space-y-4">
		<div>
			<h5 class="mb-2">
				{t("cookie_policy.what_are_cookies.title")}
			</h5>
			<p>
				{t("cookie_policy.what_are_cookies.description")}
			</p>
		</div>

		<div>
			<h5 class="mb-2">
				{t("cookie_policy.cookies_used.title")}
			</h5>
			<p class="mb-4">
				{t("cookie_policy.cookies_used.description")}
			</p>

			<ul class="space-y-4">
				<li class="p-4 rounded-lg bg-bg-card">
					<p class="mb-1 text-text-primary">theme</p>
					<p>
						{t("cookie_policy.table.theme_purpose")} — {
							t("cookie_policy.table.functional")
						}
					</p>
				</li>
				<li class="p-4 rounded-lg bg-bg-card">
					<p class="mb-1 text-text-primary">lang</p>
					<p>
						{t("cookie_policy.table.language_purpose")} — {
							t("cookie_policy.table.functional")
						}
					</p>
				</li>
			</ul>
		</div>

		<div>
			<h5 class="mb-2">
				{t("cookie_policy.third_party.title")}
			</h5>
			<p>
				{t("cookie_policy.third_party.description")}
			</p>
		</div>

		<div>
			<h5 class="mb-2">
				{t("cookie_policy.personal_data.title")}
			</h5>
			<p>
				{t("cookie_policy.personal_data.description")}
			</p>
		</div>
	</div>
</section>
