---
interface Props {
	t: (key: string) => string
}
const { t } = Astro.props as Props
---

<section>
	<h3 class="py-4">
		{
			t(
				"auto_detailing.body_condition.What_affects_the_condition_of_the_bodywork"
			)
		}
	</h3>

	<ul class="list-disc list-inside">
		<li>{t("auto_detailing.body_condition.factors.0")}</li>
		<li>{t("auto_detailing.body_condition.factors.1")}</li>
		<li>{t("auto_detailing.body_condition.factors.2")}</li>
		<li>{t("auto_detailing.body_condition.factors.3")}</li>
		<li>{t("auto_detailing.body_condition.factors.4")}</li>
		<li>{t("auto_detailing.body_condition.factors.5")}</li>
		<li>{t("auto_detailing.body_condition.factors.6")}</li>
	</ul>
</section>
