---
interface Props {
	t: (key: string) => string
}
const { t } = Astro.props as Props
---

<section>
	<h3 class="py-4">
		{t("auto_detailing.exterior.exterior_title")}
	</h3>

	<p class="mb-2 text-text-primary">
		{t("auto_detailing.exterior.description")}
	</p>

	<ul class="list-disc list-inside">
		<li>{t("auto_detailing.exterior.steps.washing")}</li>
		<li>{t("auto_detailing.exterior.steps.polishing")}</li>
		<li>{t("auto_detailing.exterior.steps.protection")}</li>
	</ul>
</section>
