---
interface Props {
	t: (key: string) => string
}
const { t } = Astro.props as Props
---

<section>
	<h2 class="py-4">
		{t("auto_detailing.advantages.title")}
	</h2>

	<div class="grid gap-8 md:grid-cols-2">
		<div>
			<h4 class="py-2">
				{
					t(
						"auto_detailing.advantages.benefits.increased_resale_value.title"
					)
				}
			</h4>
			<p>
				{
					t(
						"auto_detailing.advantages.benefits.increased_resale_value.description"
					)
				}
			</p>
		</div>

		<div>
			<h4 class="py-2">
				{
					t(
						"auto_detailing.advantages.benefits.health_and_hygiene.title"
					)
				}
			</h4>
			<p>
				{
					t(
						"auto_detailing.advantages.benefits.health_and_hygiene.description"
					)
				}
			</p>
		</div>

		<div>
			<h4 class="py-2">
				{
					t(
						"auto_detailing.advantages.benefits.increased_driving_safety.title"
					)
				}
			</h4>
			<p>
				{
					t(
						"auto_detailing.advantages.benefits.increased_driving_safety.description"
					)
				}
			</p>
		</div>
		<div>
			<h4 class="py-2">
				{
					t(
						"auto_detailing.advantages.benefits.improved_appearance.title"
					)
				}
			</h4>
			<p>
				{
					t(
						"auto_detailing.advantages.benefits.improved_appearance.description"
					)
				}
			</p>
		</div>
	</div>
</section>
