---
interface Props {
	t: (key: string) => string
}
const { t } = Astro.props as Props
---

<section>
	<h3 class="py-4">
		{t("auto_detailing.detailing.what_is_detailing_title")}
	</h3>
	<p class="text-text-primary py-2">
		{t("auto_detailing.detailing.description_1")}
	</p>
	<p>
		{t("auto_detailing.detailing.description_2")}
	</p>
</section>
