---
import NavLinks from "./NavLinks.astro"
import type { LanguageCode } from "../../i18n/utils"
import Logo from "./Logo.astro"
import LanguageSelector from "./LanguageSelector.astro"
import ThemeToggler from "./ThemeToggler.astro"

interface Props {
	t: (key: string) => string
	languageCode: LanguageCode
}
const { t, languageCode } = Astro.props as Props
---

<div class="flex items-center justify-between w-full px-4 py-2">
	<Logo />

	<div class="hidden md:flex">
		<NavLinks t={t} languageCode={languageCode} />
	</div>

	<div class="hidden md:flex flex-row gap-4 items-center">
		<ThemeToggler />
		<LanguageSelector languageCode={languageCode} />
	</div>

	{/*Mobile open button */}
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="36"
		height="36"
		fill="currentColor"
		class="bi bi-list nav-collapsed md:hidden cursor-pointer"
		id="nav-open-btn"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
		></path>
	</svg>
</div>
