---
import NavLinks from "./NavLinks.astro"
import type { LanguageCode } from "../../i18n/utils"
import Logo from "./Logo.astro"
import LanguageSelector from "./LanguageSelector.astro"
import ThemeToggler from "./ThemeToggler.astro"

interface Props {
	t: (key: string) => string
	languageCode: LanguageCode
}
const { t, languageCode } = Astro.props as Props
---

<div
	class="nav-open hidden fixed inset-0 z-5 bg-bg-default md:hidden pointer-events-auto w-screen max-w-screen"
>
	<div class="h-full shadow-lg flex flex-col gap-6 relative px-4 py-2">
		<div class="flex items-center justify-between w-full px-4 py-2">
			<Logo />
			{/*Mobile close button */}
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="36"
				height="36"
				fill="currentColor"
				id="nav-collapse-btn"
				class="bi bi-x cursor-pointer"
				viewBox="0 0 16 16"
			>
				<path
					d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
				></path>
			</svg>
		</div>

		<nav class="flex flex-col gap-4">
			<NavLinks t={t} flexDirection="col" />
		</nav>

		<div class="flex items-center justify-start gap-4 w-full">
			<ThemeToggler />
			<LanguageSelector languageCode={languageCode} />
		</div>
	</div>
</div>
