---

---

<div
	id="car-scene"
	class="absolute inset-0 -z-10 pointer-events-none flex items-center justify-center w-full h-full"
>
</div>

<script>
	import HandleCarScene from "~/scripts/HandleCarScene"
	HandleCarScene()
</script>
