---
interface Props {
	t: (key: string) => string
}

const { t } = Astro.props as Props
---

<section
	class="flex flex-col md:flex-row items-center max-w-7xl mx-auto px-4 sm:px-6 py-16"
>
	<div class="flex-1">
		<h1
			class="text-2xl sm:text-[1.75rem] md:text-3xl font-extrabold leading-tight text-left max-w-full sm:max-w-3xl px-2 sm:px-4 break-words hyphens-auto text-text-primary animate-fadeInUp"
		>
			{t("hero.title")}
		</h1>

		<div class="mt-2 w-20 h-1 bg-hover-primary rounded animate-fadeInUp">
		</div>

		<h3
			class="text-lg sm:text-xl md:text-2xl font-semibold leading-snug max-w-md sm:max-w-xl px-4 text-left text-text-secondary animate-fadeInUp"
		>
			{t("hero.subtitle")}
		</h3>

		<p
			class="mt-5 text-base sm:text-lg max-w-xl text-left text-text-tertiary leading-relaxed px-4 animate-fadeInUp"
		>
			{t("hero.description")}
		</p>
	</div>

	<!-- Light Mode Image -->
	<div class="hidden dark:hidden lg:block lg:ml-12 animate-fadeInUp">
		<img
			src="/images/hero_car_dark.png"
			alt="Hero illustration"
			class="w-96 h-auto"
		/>
	</div>

	<!-- Dark Mode Image -->
	<div class="hidden dark:lg:block lg:ml-12 animate-fadeInUp">
		<img
			src="/images/hero_car_white.png"
			alt="Hero illustration"
			class="w-96 h-auto"
		/>
	</div>
</section>
