<div class="flex justify-center w-full">
	<iframe
		src="https://www.openstreetmap.org/export/embed.html?bbox=24.111229777336124%2C56.95085934693926%2C24.11477029323578%2C56.95213193033522&layer=mapnik&marker=56.95149564406772%2C24.11300003528595"
		class="w-full"
		style="height: 350px; border: 1px solid black;"
		loading="lazy"
		allowfullscreen></iframe>
</div>
