---
interface Props {
	t: (key: string) => string
}

const { t } = Astro.props as Props
const address = "Līvzemes iela 22B, Salaspils, LV-2169, Latvija"
---

<div
	class="flex flex-col items-center justify-center px-4 mt-8 max-w-xl mx-auto text-center mb-8"
>
	<h3>
		{t("location_header")}
	</h3>

	<address
		class="not-italic leading-relaxed break-normal text-text-secondary text-base mt-2"
	>
		{address}
	</address>
</div>

<div class="flex justify-center w-full">
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d432.85352080860525!2d24.35091448687598!3d56.855464438307514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e92d0510fac731%3A0x14cc57061d002a28!2sL%C4%ABvzemes%20iela%2022b%2C%20Salaspils%2C%20Salaspils%20pils%C4%93ta%2C%20Salaspils%20novads%2C%20LV-2169!5e0!3m2!1sen!2slv!4v1748454207662!5m2!1sen!2slv"
		style="width: 100%; height: 350px; border: 1px solid black;"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"
		title="Google Map Līvzemes iela 22b, Salaspils, Latvia"
	>
	</iframe>
</div>
