---
import { languages } from "../i18n/ui"
import { getLangFromUrl } from "../i18n/utils"
const lang = getLangFromUrl(Astro.url)
const otherLangs = Object.entries(languages).filter(([code]) => code !== lang)
---

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		const langLinks = document.querySelectorAll("ul > li > a")

		langLinks.forEach((link) => {
			link.addEventListener("click", (event) => {
				event.preventDefault()

				const url = link.getAttribute("href")
				const lang = url.replace(/\//g, "")

				localStorage.setItem("lang", lang)

				window.location.href = url
			})
		})
	})
</script>

<div class="relative inline-block">
	<details class="cursor-pointer">
		<summary class="list-none">
			{languages[lang]}
		</summary>
		<ul class="absolute mt-2 left-0 flex flex-col gap-1 z-10">
			{
				otherLangs.map(([code, label]) => (
					<li>
						<a href={`/${code}/`} class="block px-2 py-1">
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</details>
</div>
