---
import { type LanguageCode, useTranslations } from "../i18n/utils"
import LanguagePicker from "./LanguagePicker.astro"
import ThemePicker from "./ThemePicker.astro"

const { languageCode } = Astro.props as { languageCode: LanguageCode }
const t = useTranslations(languageCode)
---

<ul
	class="w-full max-w-7xl px-4 py-2 mx-auto flex items-center justify-between"
>
	<li class="flex items-center gap-4">
		<a href={`/`}>
			<svg
				class="h-8 w-auto text-blue-600"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M3 12l2-4h14l2 4v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1H9v1a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-5zM6 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm12 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"
				></path>
			</svg>
		</a>
	</li>
	<div class="flex flex-row gap-4">
		<li class="flex items-center gap-4">
			<a href={`#contacts`}> {t("contacts")}</a>
		</li>
		<li class="flex items-center gap-4">
			<a href={`#services`}> {t("services")}</a>
		</li>
	</div>
	<li class="flex items-center gap-4">
		<ThemePicker />
		<LanguagePicker languageCode={languageCode} />
	</li>
</ul>
