---
import type { Service } from "../i18n/utils"

interface Props {
	service_list: Service[]
}

const { service_list } = Astro.props as Props
---

<div class="grid grid-cols-4 gap-6 w-full max-w-md">
	{
		service_list.map((service) => (
			<div class="flex flex-col items-center space-y-2">
				<img
					src="/images/placeholder.svg"
					alt={service.name}
					class="rounded w-24 h-24 object-cover"
				/>
				<p class="text-sm font-medium">{service.name}</p>
			</div>
		))
	}
</div>
