---
interface Props {
	t: (key: string) => string
}

const { t } = Astro.props as Props
---

<section class="footer-section" id="location">
	<h4 class="footer-title">{t("footer.location")}</h4>
	<address class="not-italic text-sm leading-relaxed break-normal">
		Raiņa bulvāris 11, Centra rajons, Rīga
	</address>
</section>
