---
import type { LanguageCode } from "../../i18n/utils"

interface Props {
	t: (key: string) => string
	languageCode: LanguageCode
}
const { t, languageCode } = Astro.props as Props
---

<div class="flex flex-col space-y-2">
	<h4 class="font-semibold text-gray-900 dark:text-gray-100 mb-2">
		{t("footer.other_links")}
	</h4>
	<a
		href={`/${languageCode}/cookie-policy`}
		class="hover:underline text-gray-700 dark:text-gray-300"
	>
		{t("footer.cookie_policy")}
	</a>
</div>
