---
import type { LanguageCode } from "../../i18n/utils"

interface Props {
	t: (key: string) => string
	languageCode: LanguageCode
}
const { t, languageCode } = Astro.props as Props
---

<section class="footer-section">
	<h4 class="footer-title">
		{t("footer.other_links")}
	</h4>
	<a href={`/${languageCode}/cookie-policy`} class="hover:underline">
		{t("footer.cookie_policy")}
	</a>
</section>
