---
import "../styles/global.css"
---

<html class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Sertificēta Detailera Pakalpojumi" />

		<title>
			Sertificēta Detailera Pakalpojumi – Auto Tīrīšana, Pulēšana,
			Restaurācija
		</title>
		<meta
			name="description"
			content="Sertificēti auto detailing pakalpojumi Latvijā: ķīmiskā tīrīšana, auto pulēšana, aizsargpārklājumi, lukturu restaurācija, ādas krāsošana un ozonēšana."
		/>

		<meta
			name="keywords"
			content="auto detailing, auto ķīmiskā tīrīšana, auto pulēšana, aizsargpārklājumi, lukturu pulēšana, ādas restaurācija, ozonēšana, auto salons, detailing Latvija"
		/>
	</head>

	<body class="min-h-screen bg-bg-default text-text-primary">
		<main>
			<slot />
		</main>
	</body>
</html>

<script is:inline>
	function getCookie(name) {
		const value = `; ${document.cookie}`
		const parts = value.split(`; ${name}=`)
		if (parts.length === 2) return parts.pop().split(";").shift()
		return null
	}
	const currentTheme = getCookie("theme")
	const languageCode = getCookie("lang") || "lv"

	document.documentElement.setAttribute("lang", languageCode)

	if (currentTheme === "light") {
		document.documentElement.classList.remove("dark")
	} else {
		document.documentElement.classList.add("dark")
	}
</script>

<script>
	import { HandleRedirectToPreferredLanguage } from "../scripts/HandleRedirectToPreferredLanguage"

	HandleRedirectToPreferredLanguage()
</script>
