---
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import { getLangFromUrl } from '../i18n/utils';
import "../styles/global.css"

const lang = getLangFromUrl(Astro.url);
---
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Fineshine</title>
    </head>
    <body class="min-h-screen">
		<NavigationBar />
        <main class="max-w-7xl mx-auto">
            <slot />
        </main>
        <Footer />
    </body>
</html>

    